body {
    background-color: plum;
    text-align: center;
    font-family: cursive;
}

title {
    margin: auto;
    font-weight: 500;
}

h1 {
    color: royalblue;
    text-transform: capitalize;
    font-size: xx-large;
    font-family: cursive;
    font-weight: 700;
}

p {
    font-weight: 700
}

#first_line {
    margin-top: auto;
    color: indigo;
}

#second_line {
    color: indigo;
}

#third_line {
    color: indigo;
}

#fourth_line {
    color: indigo;
}

#last_line {
    color: indigo;
    margin-bottom: 1cm;
}

#enter-button {
    border: 4cm;
    padding: 10px 17px;
    border-radius: 6px;
    color: palevioletred;
    background-color: peachpuff;
    transition: all 0.50s ease;
    -webkit-transition: all 0.50s ease;
	-moz-transition: all 0.50s ease;
	-ms-transition: all 0.50s ease;
	-o-transition: all 0.50s ease;
	font-weight: normal;
}

#enter-button:hover {
    background-color: plum;
    color: red;
}

ul  {
    text-align: left;
    margin-top: 5cm;
}

li {
    list-style: none;
    padding: 10px 17px;
    color: seashell;
    text-transform: capitalize;
    font-weight: 700;
    border: 2px solid plum;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: thistle;
    transition: all 0.50s ease;
    -webkit-transition: all 0.50s ease;
    -moz-transition: all 0.50s ease; 
    -ms-transform: all 0.50s ease;
    -o-transition: all 0.50s ease;
}

li:hover {
    background-color: thistle;
}

li > button {
    font-weight: 700;
    background: none;
    border: none;
    float: right;
    color: teal;
    font-weight: 900;
}

input {
    border-radius: 2cm;
    min-width: auto;
    padding: 0.25cm;
    border: 1cm;
}

#done {
    background-color: indigo;
    color: khaki;
}

#delete {
    display: none;
}
