body {
    background-color: plum;
    text-align: center;
    font-family: cursive;
}

title {
    margin: auto;
    font-weight: 500;
}

h1 {
    color: royalblue;
    text-transform: capitalize;
    font-size: xx-large;
    font-family: cursive;
    font-weight: 700;
}

p {
    font-weight: 700
}

#first_line {
    margin-top: auto;
    color: indigo;
}

#second_line {
    color: indigo;
}

#third_line {
    color: indigo;
}

#fourth_line {
    color: indigo;
}

#last_line {
    color: indigo;
    margin-bottom: 1cm;
}

#enter-button {
    border: 5cm;
    padding: 10px 17px;
    border-radius: 8px;
    color: palevioletred;
    background-color: peachpuff;
    transition: all 0.50s ease;
    -webkit-transition: all 0.50s ease;
	-moz-transition: all 0.50s ease;
	-ms-transition: all 0.50s ease;
	-o-transition: all 0.50s ease;
	font-weight: normal;
}

#enter-button:hover {
    background-color: plum;
    color: red;
}

u1 {
    text-align: left;
    margin-top: 5cm;
}

